.beneficios {
    display: flex;
    flex-direction: column;
    padding: 1.5em 1.5em 0 1.5em;
}

.beneficios__titulo {
    font-size: 2em;
    text-align: center;
}

.beneficios__lista {
    padding: 2em 0;
    font-size: 1.2em;
    font-style: italic;
}

.beneficios__lista-item {
    padding: 0 0 0.3em 0;
}

.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrossel__imagem {
    width: 100%;
}

ul.slick-dots {
    position: absolute;
    left: 30%;
    padding: 0.5em 0;
}

.slick-dots li{
    float: left;
    padding: 0 0.2em;
}

.slick-dots li.slick-active button {
    background-color: var(--dourado);
}

.slick-dots li button {
    font-size: 0;
    border: 4px solid var(--preto);
    border-radius: 50%;
    background-color: transparent;
    width: 10px;
    height: 20px;
    box-shadow: 0px 0px 5px 0px var(--preto);
}

.container__video {
    padding: 4em 0 2em 0;
}

.video {
    width: 100%;
}

@media screen and (min-width: 440px) {
    ul.slick-dots {
        left: 35%;
    }
}

@media screen and (min-width: 540px) {
    ul.slick-dots {
        left: 38%;
    }
}

@media screen and (min-width: 640px) {
    ul.slick-dots {
        left: 40%;
    }
}

@media screen and (min-width: 720px) {
    ul.slick-dots {
        left: 40.5%;
    }
}

@media screen and (min-width: 760px) {
    ul.slick-dots {
        left: 41%;
    }
    
    .slick-dots li button {
        width: 10px;
        height: 20px;
    }

    .beneficios__titulo {
        font-size: 2.4em;
    }

    .beneficios__lista-item {
        font-size: 1.5em;
    }

    img.slick-slide {
        height: 40em;
    }

    .video {
        height: 30em;
        width: 100%;
    }
}

@media screen and (min-width: 880px) {
    ul.slick-dots {
        left: 42%;
    }
}

@media screen and (min-width: 900px) {
    ul.slick-dots {
        left: 43%;
    }
}

@media screen and (min-width: 1020px) {
    .beneficios__lista {
        padding: 2em 4em;
    }

    .slick-slide {
        padding: 0 4em;
    }

    img.slick-slide {
        width: 10em;
        height: 40em;
    }

    .container__video {
        padding: 4em 3em 2em 3em;
    }

    .video {
        height: 30em;
    }
}