.beneficios {
    display: flex;
    flex-direction: column;
    padding: 1.5em 1.5em 0 1.5em;
}

.beneficios__titulo {
    font-size: 2em;
    text-align: center;
}

.beneficios__lista {
    padding: 2em 0;
    font-size: 1.2em;
    font-style: italic;
}

.beneficios__lista-item {
    padding: 0 0 0.3em 0;
}

.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrossel__imagem {
    width: auto;
}

ul.slick-dots {
    position: absolute;
    left: 30%;
    padding: 0.5em 0;
}

.slick-dots li{
    float: left;
    padding: 0 0.2em;
}

.slick-dots li.slick-active button {
    background-color: var(--dourado);
}

.slick-dots li button {
    font-size: 0;
    border: 4px solid var(--preto);
    border-radius: 50%;
    background-color: transparent;
    width: 10px;
    height: 20px;
    box-shadow: 0px 0px 5px 0px var(--preto);
    cursor: pointer;
}

.container__video {
    padding: 4em 0 2em 0;
}

.video {
    width: 100%;
}

@media screen and (min-width: 440px) {
    ul.slick-dots {
        left: 35%;
    }
}

@media screen and (min-width: 540px) {
    ul.slick-dots {
        left: 38%;
        top: 99%;
    }
}

@media screen and (min-width: 640px) {
    ul.slick-dots {
        left: 40%;
        top: 99%;
    }
}

@media screen and (min-width: 720px) {
    ul.slick-dots {
        left: 40.5%;
        top: 99%;
    }
}

@media screen and (min-width: 760px) {
    .beneficios__lista {
        align-self: flex-start;
    }

    .container__beneficios {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    div.slick-slider {
        width: 70%;
    }

    ul.slick-dots {
        left: 38%;
        top: 100%;
    }
    
    .slick-dots li button {
        width: 10px;
        height: 20px;
    }

    .beneficios__titulo {
        font-size: 2em;
    }

    .beneficios__lista-item {
        font-size: 1.2em;
    }

    .video {
        height: 30em;
        width: 100%;
    }
}

@media screen and (min-width: 880px) {
    ul.slick-dots {
        left: 42%;
    }
}

@media screen and (min-width: 900px) {
    ul.slick-dots {
        left: 41%;
    }
}

@media screen and (min-width: 1020px) {
    .beneficios__lista {
        padding: 2em 4em;
    }

    .slick-slide {
        padding: 0 4em;
    }


    .container__video {
        padding: 4em 3em 2em 3em;
    }

    .video {
        height: 30em;
    }
}

@media screen and (min-width: 1040px) {
    ul.slick-dots {
        left: 42%;
    }
}

@media screen and (min-width: 1140px) {
    ul.slick-dots {
        left: 42.5%;
        top: 99%;
    }
}

@media screen and (min-width: 1280px) {
    ul.slick-dots {
        left: 43.5%;
        top: 99.5%;
    }

    .container__video {
        display: flex;
        justify-content: center;
    }

    .video {
        width: 80%;
    }
}

@media screen and (min-width: 1440px) {
    .beneficios__titulo {
        padding: 0em 0 1em 0;
    }

    .container__beneficios {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 1em;
    }

    .beneficios__lista {
        padding: 2em 4em 2em 0em;
    }

    div.slick-slider {
        width: 40%;
    }
    
    ul.slick-dots {
        left: 39%;
        top: 97%;
    }

    img.slick-slide {
        padding: 1em 1em;
    }

    .beneficios__titulo {
        font-size: 2em;
    }

    .beneficios__lista-item {
        font-size: 1.2em;
    }

    .container__video {
        display: flex;
        justify-content: center;
    }

    .video {
        width: 80%;
    }
}

@media screen and (min-width: 1520px) {
    ul.slick-dots {
        left: 46%;
    }
}

@media screen and (min-width: 1728px) {
    ul.slick-dots {
        left: 46.5%;
    }
}