.cabecalho {
    background-color: var(--preto);
}

.container__cabecalho {
    display: flex;
    align-items: center;
    padding: 1em 1em;
    justify-content: space-between;
}

.logo {
    width: 100%;
}

.botao__menu {
    background-color: transparent;
    border: none;
    transition: 1s all;
}

.botao__menu:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.menu__hamburguer {
    width: 2em;
}

.menu-lateral {
    background-color: var(--preto);
    height: 70%;
    width: 75vw;
    z-index: 5;
    position: absolute;
    left: -80vw;
    transition: 1s all;
    opacity: 0.94;
    box-shadow: 4px 4px 4px 0 var(--preto)
}

.menu-lateral--ativo {
    left: 0;
}

.container__menu-lateral {
    display: flex;
    flex-direction: column;
}

.menu-lateral__logo {
    width: 100%;
}

.menu-lateral__item {
    border-left: 2px solid var(--dourado);
    padding: 1em 0 1em 0;
    margin: 1em 0;
}

.menu-lateral__link {
    color: var(--cor-do-menu);
    text-decoration: none;
    padding: 0 0 0 1.5rem;
    font-size: 1.2em;
    font-weight: 400;
    transition: 0.5s all;
}

.menu-lateral__link:hover {
    color: var(--dourado);
}

.cabecalho__titulo-link {
    text-decoration: none;
}

.cabecalho__titulo {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--branco);
    font-size: 1em;
    color: var(--dourado);
    transition: 1s all;
    animation: animate 2.5s linear infinite;
    text-shadow: 0 0 2px var(--dourado), 0 0 35px var(--dourado);
    transition: 1s all;
}

.cabecalho__titulo:hover {
    transform: scale(1.1);
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.cabecalho__logo {
    width: 5rem;
}

@media screen and (min-width: 760px) {

    .cabecalho__titulo {
        font-size: 1.4em;
    }

    .menu__hamburguer {
        width: 3em;
    }

    .menu-lateral {
        width: 65vw;
        height: 100vh;
    }

    .menu-lateral__link {
        font-size: 1.8em;
    }
}

@media screen and (min-width: 760px) {
    
    .titulo__principal {
        display: flex;
        justify-content: center;
    }
    
    .logo {
        width: 70%;
    }
}


@media screen and (min-width: 1020px) {

    .titulo__principal {
        display: flex;
        justify-content: center;
    }

    .logo {
        width: 50%;
    }

    .cabecalho__titulo {
        font-size: 1.1em;
    }

    .menu__hamburguer {
        width: 3.5em;
    }

    .menu-lateral {
        width: 50vw;
    }

}

@media screen and (min-width: 1440px) {
    .titulo__principal {
        justify-content: flex-start;
    }

    .logo {
        width: 25%;
    }

    .menu__hamburguer {
        width: 2em;
    }

    .menu-lateral {
        width: 25vw;
    }

    .menu-lateral__link {
        font-size: 1.2em;
    }
}