.contato {
    padding: 2em 1em 0 1em;
}

.contato__titulo {
    margin: 0 0 1em 0;
    text-align: center;
    font-size: 1.8em;
}

.contato__titulo-texto {
    font-size: 1.5em;
    margin: 1em 0 0.4em 0;
}

.contato__texto {
    font-size: 1.2em;
}

@media screen and (min-width: 1020px) {
    .contato__titulo {
        font-size: 2em;
    }

    .contato__titulo-texto {
        font-size: 1.5em;
    }

    .contato__texto {
        font-size: 1.4em;
    }

}

@media screen and (min-width: 1440px) {
    .container__principal {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em 2em 0 2em;
        width: 50%;
    }
    
    .contato__texto {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1728px) {
    .contato__titulo {
        font-size: 2em;
    }

    .contato__titulo-texto {
        font-size: 1.8em;
    }

    .contato__texto {
        font-size: 1.5em;
    }
}