.formulario-contato {
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    width: 90%;
}

.formulario__label {
    font-size: 1.2em;
    margin: 0 0 0.5em 0;
}

.formulario__input, textarea {
    margin: 0 0 1.5em 0;
    padding: 0.5em 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.formulario__botao-enviar {
    border: none;
    background-color: var(--dourado-escuro);
    padding: 0.5em 0;
    font-size: 1.2em;
    color: var(--branco);
    cursor: pointer;
    transition: 1s all;
    font-family: 'Roboto', sans-serif;
}

.formulario__botao-enviar:hover {
    transform: scale(1.05);
    color: var(--preto);
}

.tabela-horarios {
    margin: 1em 0 0 0;
    font-size: 1em;
    width: 100%;
}

.tabela-horarios thead, .tabela-horarios th, .tabela-horarios td {
    border: solid 1px var(--preto);
    text-align: center;
}

.tabela-horarios thead {
    background-color: var(--cinza);
}

.tabela-horarios th {
    color: var(--branco);
    padding: 1em 0;
}

.tabela-horarios td {
    padding: 1em 0;
}

@media screen and (min-width: 1020px) {
    .container__principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formulario-contato {
        width: 90%;
    }

    .formulario__label {
        font-size: 1.5em;
    }

    .formulario__input, textarea {
        font-size: 1.1em;
    }

    .formulario__botao-enviar {
        font-size: 1.4em;
    }

    .tabela-horarios {
        width: 50%;
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1440px) {
    .formulario-contato {
        width: 50%;
        padding: 2em;
    }

    .formulario__label {
        font-size: 1.2em;
    }

    .formulario__botao-enviar {
        font-size: 1.2em;
    }

    .tabela-horarios {
        margin: 2em 0 2em 0;
        justify-self: center;
        width: 60%;
        font-size: 1em;
    }
}

@media screen and (min-width: 1728px) {
    .tabela-horarios {
        width: 70%;
        font-size: 1.2em;
    }

    .formulario__label, .formulario__botao-enviar {
        font-size: 1.5em;
    }
}