:root {
    --cor-do-menu: #eeeeee;
    --cor-do-menu-hover: #d1b25c;
    --cor-de-fundo-cabecalho: #000000;
    --cor-de-fundo-sobre: #c5af72;
    --cor-de-fundo-rodape: #000000;
    --cor-descricao-rodape: #eeeeee;
    --cor-descricao-rodape-hover: #c5af72;
}

body {
    font-family: 'Roboto', sans-serif;
}

.cabecalho {
    background: var(--cor-de-fundo-cabecalho);
}

.cabecalho-caixa {
    margin: 0 auto;
    position: relative;
    width: 940px;
}

.logo {
    width: 30rem;
}

.menu {
    position: absolute;
    right: 0;
    top: 9rem;
}

.menu-lista__item {
    display: inline;
}

.menu-lista__link {
    color: var(--cor-do-menu);
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0 0 0 1rem;
    text-decoration: none;
    transition: 0.5s all;
}

.menu-lista__link:hover {
    color: var(--cor-do-menu-hover);
}

.sobre {
    background-color: var(--cor-de-fundo-sobre);
    padding: 2rem 0;
    text-align: center;
}

.sobre-titulo, .beneficios-titulo {
    font-size: 2.5rem;
    padding: 0 0 1rem 0;
}

.sobre-descricao {
    font-size: 1.3rem;
    padding: 0.5rem 0;
}

.beneficios {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 2rem 5rem;
}

.beneficios-titulo {
    font-size: 2.2rem;
    padding: 0 0 2rem 0;
    text-align: center;
    grid-column: span 2;
}

.beneficios-lista {
    padding: 0 0rem 0 0;
}

.beneficios-lista__item {
    font-size: 1.3rem;
    padding: 0.2rem 0;
    font-style: italic;
}

.beneficios-lista__item::first-letter {
    font-weight: bold;
}

.beneficios-imagem {
    justify-self: flex-end;
    width: 40rem;
}

.div-video {
    margin: 2rem auto;
    text-align: center;
}

.video {
    height: 25rem;
    width: 50%;
}

.zap-link {
    animation: float 3.5s ease-in-out infinite;
    position: fixed;
    margin: 0 0.5rem 0 0;
    right: 0;
    top: 90%;
    z-index: 10;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

.zap-logo {
    width: 4rem;
    transition: 1s all;
}

.zap-logo:hover {
    transform: scale(1.2);
}

.secao-maps {
    background: linear-gradient(#ffffff, #dddddd 20%);
    margin: 0 0 -0.2rem 0;
    padding: 2rem 0 0 0;
}

.maps-titulo {
    font-size: 2rem;
    padding: 0 0 2rem 0;
    text-align: center;
}

.maps {
    width: 100%;
}

.rodape {
    background: var(--cor-de-fundo-rodape);
    padding: 0.2rem 0 1rem 0.2rem;
}

.rodape-logo {
    width: 15rem;
}

.siga-nos__lista {
    display: flex;
    justify-content: center;
}

.siga-nos__item {
    list-style: none;
}

.siga-nos__item div {
    align-items: center;
    animation: animate 1.5s linear infinite;
    color: #c5af72;
    display: flex;
    font-size: 1.2rem;
    height: 2rem;
    justify-content: center;
    text-shadow: 0 0 15px #c5af72, 0 0 25px #c5af72;
    width: 2rem;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.lista-rodape {
    padding: 1.5rem 0;
    text-align: center;
}

.lista-rodape__item {
    display: inline;
    vertical-align: middle;
}

.lista-rodape__logo {
    margin: 0 0.5rem;
    transition: 0.5s all;
    width: 2.5rem;
}

.lista-rodape__logo:hover {
    transform: scale(1.2);
}

.rodape-descricao {
    color: var(--cor-descricao-rodape);
    font-size: 0.85rem;
    padding: 0 0 1rem 0;
    text-align: center;
    transition: 1.25s all;
}

.rodape-descricao:hover {
    animation: animate 1.5s linear infinite;
    color: var(--cor-descricao-rodape-hover);
    text-shadow: 0 0 5px #c5af72, 0 0 15px #c5af72;
}