@import url("./cabecalho.css");
@import url("./sobre.css");
@import url("./beneficios.css");
@import url("./localizacao.css");
@import url("./rodape.css");
@import url("./contato.css");
@import url("./formulario-contato.css");

:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --dourado: #c5af72;
    --cor-do-menu: #eeeeee;
    --dourado-escuro: #d1b25c;
    --cinza: #777777;
    --cinza-claro: #BBBBBB;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}